body {
    font-family: "Roboto",sans-serif; 
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}
img {
    display: block;
    width:100%;
    height:auto;
}

.list {
    list-style: none;
}
.link{
    text-decoration: none;
}

/* Header */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid #ECECEC;
}

.header-container{
    display: flex;
    align-items: center;
    
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-list {
    display: flex
}

.header-conect {
    display: flex;
    margin-left: auto;

}
 
.header-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    align-items: center;
    display: flex;
    color: #2196F3;
    margin-right: 93px;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-logo-color {
    color: #000000;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail-tel {  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    display: block;
    margin-right: 50px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-tel-item { 
    display: flex;
}

.mail-tel-icon {
    fill: #757575;
    margin-right: 10px;
    align-items: center;
}
.mail-tel-icon {
    fill: currentColor;
}

.current{ 
    color: #2196F3;
    position: relative;
}

.current::after {
    content:"";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    background-color: #2196F3;
    bottom: -40px;
}

.header-link:hover,
.header-link:focus,
.header-mail-tel:hover,
.header-mail-tel:focus  {
    color: #2196F3;
}

/* Hero*/

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero {
    background-color: #2F303A;
    background-image:linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px; 
    display: flex;
    max-width: 1600px;
}
.hero-titel {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 696px;
    height: 120px;
}

.hero-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto; 
    min-width: 160px;
    min-height: 40px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
    background-color: #188CE8;
}

/* Peculiarities */

.peculiarities-item{
    width: 270px;
}

.pec-item-block {
    height: 120px;
    background-color: #F5F4FA; 
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .pec-item-block:not(:last-child) {
    margin-right: 30px;
} */

.pec-icons {
    display: flex;
    justify-content: center;
    align-items: center;

}


.peculiarities {
    display: flex;
    align-content: center;
    align-items: center;
    padding-bottom: 0px;
    

}
.peculiarities-list {     
    display: flex;
    align-content: center;
    align-items: center;
    
}

.peculiarities-item:not(:last-child) {
    margin-right: 30px;
}


.titel{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}


.after-titel {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
    height: 75px;
}

/* About */

.about {     
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.about-titel {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    align-items: center;
    margin-bottom: 50px;
}

.about-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.about-item{
    position: relative;
}

.about-item:not(:last-child) {
    margin-right: 30px;
}

.about-img-text { 
    position: absolute;
    bottom: 0px;
    background: rgba(47, 48, 58, 0.8); 
    color: #FFFFFF;
    font-size: 14px;
    line-height: 0.87px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Team */

.team {
    background-color: #F5F4FA;
}

.team-social-list{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.team-social-item + .team-social-item {
    margin-left: 10px;
}
.team-social-icons{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link {
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #2196F3; 
}

.team-social-link:hover .team-social-icons,
.team-social-link:focus .team-social-icons {
    fill: #FFFFFF;
}

.team-titel {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}  
.team-list{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;  
}

.team-item:not(:last-child) {
    margin-right: 30px;
}
.team-item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-prof {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}
/* Clients section */

/* .clients-item {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px 32px;

} */

.clients-list {
    display: flex;
    justify-content: center;
}
.clients-item + .clients-item { margin-left: 30px;

}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px 32px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
    border: 1px solid  #2196F3;
}

.clients-icons{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icons,
.clients-link:focus .clients-icons {
    fill: #2196F3;
}

.clients-titel{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
    
}

/* Footer */

.footer {
    background-color: #2F303A;
    padding-bottom: 60px;
    padding-top: 66px;
}


.footer-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-bottom: 20px;
    display: inline-block
    
}
.footer-logo-color {
    color: #ffffff;
}
.footer-item:not(:last-child) {
 margin-bottom: 9px;
}

.footer-link {
    font-family: "Roboto", sans-serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.footer-mail, 
.footer-tel { 
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-link:hover,
.footerr-link:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footertel:focus   {
    color: #2196F3;
}

.footer-container-left {
    display: inline-block;
}

.footer-container-center {
    display: inline-block; 
    vertical-align: top;
    margin-left: 70px;
    padding-top: 12px;
    margin-right: 93px;
}

.footer-titel{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF; 
 }

.footer-social-list {
    display: inline-flex;
    justify-content: center;
}

.footer-social-item + .footer-social-item {
    margin-left: 10px ;
}

.footer-social-link{
    width: 44px;
    height: 44px;
    background-color: #44454E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus{
    background: #2196F3;
}
.footer-social-icons{
    fill: #FFFFFF;
} 

.footer-container-right{
    width: 570px;
    display: inline-block; 
    vertical-align: top;
    padding-top: 12px;
}

.footer-titel-right {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-form-input{
    position: absolute;
    display: flex;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    padding-left: 16px;
    outline: none;
    color: #FFFFFF;
}

.footer-btn { 
    position: relative;
    width: 200px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87%;
    display:flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-left: 370px;
    padding: 10px 29px;
    justify-content: space-between;
    
}

.footer-icon-sen {
    fill: #FFFFFF;
}

/* Portfolio */

/* main section */
.main-section{
    padding-top: 94px;
    padding-bottom: 94px;

}
.main-list {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
}

.main-item:not(:last-child){
    margin-right: 8px ;

}
.main-section-btn { 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.68;
    text-align: center;
    color: #212121;
    background-color:#F5F4FA;
    border-radius: 4px;
    padding: 6px 22px; 
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section-btn:hover,
.main-section-btn:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.main-list-pic{
    display: flex;
    flex-wrap: wrap;
}

.main-item-pic:not(:nth-child(3n + 3)){
    margin-right: 30px;
}

.main-item-pic{
    width: 370px;
    border: 1px solid #EEEEEE;
    margin-bottom: 20px;
}

.main-item-pic:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}
.main-item-wrap{
    position: relative;
    overflow: hidden;
}

.main-img-text{
    position: absolute;
    top: 0px;
    background: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    padding-top: 63px;
    padding-right: 23px;
    padding-bottom: 63px;
    padding-left: 23px;
    height: 100%;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-main-item-pic:hover .main-img-text {
    transform: translateY(0);
}

.link-main-item-pic {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.link-main-item-pic:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.name-type-projects{
    flex-wrap: wrap;
    padding: 24px 24px 20px 24px;

}
.name-projects{
    font-weight: bold;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}
.type-projects {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}
.backdrop {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opasity 250ms, visibility 250ms;
}

.modal { 
    position: absolute;
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
}
.backdrop.is-hidden .modal { 
    transform: scale(0.5);
}

.modal-close {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.modal-close:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-titel { 
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.form-field {
    
}

.form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 40px;
    color: #212121;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.form-input:focus {
    border: 1px solid #2196F3;
}

.form-input:focus + .modal-icons {
    fill: #2196F3;
}

.input-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.input-wrap { 
    position: relative;
}

.form-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px 12px;
    color: #212121;
    resize: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;

}

.input-text::placeholder{
    color: rgba(117, 117, 117, 0.5);
}

.modal-icons {
    position: absolute;
    left: -130px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #757575;
}

.check-text span {
    width: 16px ;
    height: 15px;
    border: 1px solid #000000;
    border-radius: 2px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-check {
    fill: transparent;
}

.policy-check:checked + .check-text span {
    border: none;
    background-color: #2196F3;
}

.policy-check:checked + .check-text .icon-check {
    border: none;
    fill: #FFFFFF;
}

/* .policy-check {
    display: none;
} */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.agreement-link {
    text-decoration-line: underline;
    color: #2196F3;
    padding-left: 3px;
}

.button-submit {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px 56px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto; 
}

.button-submit:hover {
    background-color: #188CE8;
}